@* @nxt:static *@

<h1>About (Razor view, statically generated)</h1>
<p>This file is <code>Pages/About.cshtml</code>. The <code>@@nxt:static</code> directive tells the
   source generator to prerender it at build time.</p>
<p>Generated at: @System.DateTime.UtcNow.ToString("O")</p>
